@{
    ViewData["Title"] = "Employee View";
}

<div class="text-center">
    <h1 class="display-4">Hey bitches</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
